body{
  margin: 0;
  padding: 0;
  background: url(paddy2.jpg) no-repeat;
  background-size: cover;
}
.signup-form{
  width: 300px;
  padding: 20px;
  text-align: center;
  background: #487eb0;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}
.signup-form h1{
  margin-top: 80px;
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 40px;
}
.signup-form input{
  display: block;
  width: 100%;
  padding: 0 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  color: black;
  outline: none;
  border: none;
  font-family: "montserrat",sans-serif;
}
.txtb{
  margin: 20px 0;
  background: rgba(188, 187, 225,.7);
  color: black;
  border-radius: 6px;
}
.signup-btn{
  margin-top: 30px;
  margin-bottom: 20px;
  background: url(paddy2.jpg);
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}
.signup-btn:hover{
  transform: scale(0.96);
}
.signup-form a{
  text-decoration: none;
  color: #fff;
  font-family: "montserrat",sans-serif;
  font-size: 14px;
  padding: 10px;
  transition: 0.8s;
  display: block;
}
.signup-form a:hover{
  background: rgba(0,0,0,.3);
}
